attrs==21.2.0
dataclasses==0.8
decorator==4.4.2
dm-sonnet==1.35
logcolor==1.0.1
networkx==2.5.1
numba==0.53.1
numpy==1.19.5
Pillow==8.4.0
requests==2.25.1
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.5.4
six==1.16.0
tensor2tensor==1.15.0
tensorflow==1.14.0
tensorflow-probability==0.7.0
tqdm==4.60.0
